<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- For development / testing / demo purposes -->
      <setting name="Analytics.AutoDetectBots" set:value="false" />
      <setting name="Analytics.Robots.IgnoreRobots" set:value="false" />

      <!-- When using the headless proxy, allows it to pass on the original client IP -->
      <setting name="Analytics.ForwardedRequestHttpHeader" set:value="X-Forwarded-For" />
    </settings>
    <sites>
      <site x:before="site[@name='website']" 
            inherits="website"
            name="sc-twitter-app"
            hostName="sc-twitter-app.dev.local"
            rootPath="/sitecore/content/sc-twitter-app"
            startItem="/home"
            database="master" />
    </sites>
    <javaScriptServices>
      <apps>
        <!-- you may override other attributes from 'defaults' in the app definiton below -->
        <app name="sc-twitter-app"
             sitecorePath="/sitecore/content/sc-twitter-app"
             inherits="defaults"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>